body {
  font: normal 0.8em Lucida, Arial, sans-serif;
}

#content {
  margin: 0 auto;
  width: 800px;
}

#canvas-container, #link {
  margin-bottom: 12px;
}

.help {
  float: left;
  width: 50%;
}

.help div {
  line-height: 25px;
}

.help .binding {
  display: inline-block;
  width: 50px;
}